/*-------------------------------
		2.-MODULES
--------------------------------*/
/*-------------------------------
---------- NAVBAR ---------------*/
nav{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
	.navbar-brand{
		img{
			width: 400px;
			margin-left: 8%;
		}
	}
	.tabs{
		display: inline-block;
		li{
			padding: 30px 40px;
			display: inline-block;

		}
		li:nth-child(2){

			border-left: 1px solid $white;
			margin-right: -6px;

		}
		li:nth-child(3){
			border-right: 1px solid $white;
			border-left: 1px solid $white;
		}
	}

}

.dropdown-menu{
	top: 100px;
	background: grey;
	right: 317px;
	left: auto;
	background: $dropdown-color;
	border: 0px;
	border-radius: 0px;
	li{
		display: block;
		border-left:0px!important;
		border-right: 0px !important;
		padding: 20px 44.5px;
		border-top:1px solid grey;

		a{
			color:black;
		}
	}
}

.show-containers{
	background: white;
	position: relative;
	margin-top: 50px;
	margin:  0 20px;
	.show-container{
		background: $white;
		display: flex;
		flex-direction:row;
		justify-content: space-around;
		padding-top: 20px;
		cursor: pointer;
		height: 200px;
		top:0px;
		overflow: hidden;
		-webkit-transition-property: top;
	    -webkit-transition-duration: 0.5s;
		box-shadow: 0px -28px 61px -19px rgba(0,0,0,0.24);
		padding-bottom: 40px;
		.name-show{
			display: inline-block;
			img{
				width: 100%;
			}
			.info-show{
				p{
					font-family: $neogrey-regular;
					margin: 15px 0px;
					font-size: 20px;
				}
				img{
					width: 52px ;
					vertical-align: middle;
				}
			}
		}
		.preview-show{
			margin-bottom: 70px;
			img{
				width: 100%;
			}
			display: inline-block;
			a{
				color:$primary-color;
				cursor: pointer;
				font-family: Arial;
				font-weight: 500;
				font-size: 20px;
				margin-top: 9px;

			}
			a + img{
				width: 25px;
				margin-top: 7px;
				margin-left: 5px;

			}
		}
		.arrows{
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			img{
				width: 50px;
				background: $white;
				padding: 7px;
				border-radius:50%;
				box-shadow: 0px 1px 13px 1px grey;
			}
		}
	}


	.show-container:hover{
		top:-30px ;
	}
	.cienvh {
		height: 100%;
		-webkit-transition-property: height;
		  -webkit-transition-duration: 2s;
	}

}

.modulo-show-plus-info{
	.show-description{
		margin-left:35px;
		margin-bottom: 30px;
	}

	.more-info-show{
		margin-bottom: 70px;
		.premios{
			margin-left: 200px;
		}
		p:first-child{
			margin-bottom: 20px;
		}
		p:last-child{
			margin-top: 20px;
		}
		img{
			width: 25px;
			vertical-align: middle;
			margin-right: 15px
		}
	}
}

.show-container,.cienvh{
	&hover{
		top:0px;
	}
}
