/*-------------------------------
		0.1.-VARIABLES
--------------------------------*/


/*COLORS*/

$primary-color: #68C9D5;
$white: #ffffff;
$secondary-color:#9B9B9B;
$danger-color: #D0011B;
$light-grey: #878A8D;
$dark-grey: #4A4A4A;
$background-color: #061b28;


$dropdown-color: #C5C7C9;


/*END COLORS*/


/*FONTS*/
$neogrey-bold: NeogreyMedium;
$neogrey-regular: NeogreyRegular;
